<div class="container">
    <div class="flex-box d-flex flex-column">
      <div class="play-wolf text-center">
        <div id="werewolf" class="">
            <%= image_tag "Werewolf.png" %>
        </div>
        <div id="play" class="">
          <%= link_to find_path  do %>
            <%= image_tag "Play.png" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="settings">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Settings.png" %>
      <% end %>
  </div>
  <div id="rules">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Rules.png" %>
      <% end %>
  </div>
  <embed  class="background-music" src="http://soundimage.org/wp-content/uploads/2014/03/Spells-a-Brewin.mp3" autostart="true" loop="true" hidden="true"><embed>
