<div class="cupidon d-none">
  <% if @gamer.character.name == "cupidon" %>
    <%= simple_form_for([@game, LoverCouple.new], html: { class: "cupidon-form"}) do |f| %>
      <%= collection_check_boxes :lovers, :lovers_ids, @all_except_me.map { |target| target.user }, :username, :username %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>
<div class="voyante d-none">
  <% if @gamer.character.name == "voyante" %>
    <%= simple_form_for([@game, GameEvent.new], html: { class: "voyante-form"}) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>
<div class="loup d-none">
  <% if @gamer.character.name == "loup" %>
    <%= simple_form_for([@game, GameEvent.new], html: { class: "loup-form"}) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>
<div class="sorciere d-none">
  <% if @gamer.character.name == "sorciere" %>
    <%= simple_form_for([@game, GameEvent.new], html: { class: "sorciere-form"}) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>
<div class="chasseur d-none">
  <% if @gamer.character.name == "chasseur" %>
    <%= simple_form_for([@game, GameEvent.new], html: { class: "chasseur_form"}) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>

<% if @game.round == 1 %>
<div class="firstNight"></div>
<% else %>
<div class="night"></div>
<% end %>

<div class="endOfNight">
</div>
