<div id="circle10"></div>
<div class="my-nav navbar navbar-expand-sm navbar-light navbar-lewagon maitre-head">
  <img src="https://image.noelshack.com/fichiers/2019/35/6/1567258841-meuf.gif" alt="" class="mj">
  <h2 class="mj-text">Le jour se lève...</h2>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if @gamer.is_alive %>
            <%= image_tag @gamer.character.photo.url, class: "avatar" %>
          <% else %>
            <%= image_tag @gamer.character.photo.url, class: "filtered" %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="allplayers">
  <% @all_except_me.each do |player| %>
    <div class="player mx-3">
      <div class="player-photo">
          <% if @gamer.is_link && player.is_link %>
            <img src="http://wp.production.patheos.com/blogs/soulandcity/files/2016/09/Love.png" alt="" class="lovee">
          <% end %>
        <% if player.user.photo.url != nil %>
          <%= image_tag player.user.photo.url, class: "avatar" %>
        <% else %>
          <%= image_tag "https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg", class: "avatar" %>
        <% end %>
      </div>
      <div class="player-name">
        <p><%= player.user.username.capitalize %></p>
      </div>
    </div>
  <% end %>
  <% @dead.each do |player| %>
    <div class="player mx-3">
      <div class="player-photo">
        <%= image_tag player.character.photo.url, class: "avatar filtered" %>
      </div>
      <div class="player-name">
        <p><%= player.user.username.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>

<div id="countdown"></div>

<div class="etat">
  <div class="etat-photo">
    <img src="https://garysanis.com/Pics/Space/WheatAgainstSettingSun_Big.gif" alt="">
    <h2 class="etat-text">Le vote entre villageois approche. <br> Garde l'oeil ouvert !</h2>
  </div>
</div>

<div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>
<div class="day-interlude"></div>
