  <% if @game.step == "waiting" %>
    <%= render "waiting" %>
  <% elsif @game.step == "starting" %>
    <%= render "starting" %>
  <% else %>
    <%= render "finished" %>
  <% end %>

  <h3><%= @game.news %></h3>

<!-- Chat Room -->
  <div id="messages" class="message-box">
    <% @game.messages.each do |message| %>
      <% if message.player.character.name != "loup" %>
        <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="message-form">
    <%= render 'messages/form', game: @game, message: @message %>
  </div>

  <!-- Ad hoc div to pass game id and user id to Action Cable -->
  <div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>

