<% if @gamer.character.name == "chasseur" %>
  <p><%= @gamer.character.name %>, unfortunately, you just died but you can take a life over with you!</p>
  <%= simple_form_for([@game, GameEvent.new]) do |f| %>
    <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
    <%= f.button :submit, "Shoot him!",class: "btn btn-primary" %>
  <% end %>
<% end %>

<div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>
<div class="chasseur"></div>
