<div class="loup d-none">
  <% if @gamer.character.name == "loup" %>
    <%= simple_form_for([@game, GameEvent.new]) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>

<div id="messages">
    <% @game.messages.each do |message| %>
      <%= render 'messages/show', message: message %>
    <% end %>
  </div>

  <%= render 'messages/form', game: @game, message: @message %>

  <!-- Ad hoc div to pass game id and user id to Action Cable -->
  <div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>
</div>
<div class="loup"></div>
