<% if @gamer.character.name == "loup"  && @gamer.is_alive  %>
  <p><%= @gamer.character.name %>, who would you like to eat raw?!</p>
  <%= simple_form_for([@game, GameEvent.new]) do |f| %>
    <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
    <%= f.button :submit, "Eat! Savage!", class: "btn btn-primary" %>
  <% end %>
  <div class="loup"></div>
<% end %>

<!-- Chat Room -->

<% if Player.where(user: current_user)[0].character.name == "loup" %>
  <div id="loup_messages">
    <% @game.messages.each do |message| %>
      <% if message.player.character.name == "loup" %>
        <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>
  <%= render 'messages/form', game: @game, message: Message.new %>
<% end %>

<div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>
