<div class="my-nav navbar navbar-expand-sm navbar-light navbar-lewagon maitre-head">
  <img src="https://image.noelshack.com/fichiers/2019/35/6/1567258841-meuf.gif" alt="" class="mj">
  <% if @gamer == @sorciere %>
  <h2 class="mj-text">Juste quelques gouttes...</h2>
  <% else %>
  <h2 class="mj-text">Gare à la déesse de la mort</h2>
  <% end %>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if @game.step == "starting" %>
            <%= image_tag @gamer.character.photo.url, class: "avatar" %>
          <% else %>
            <% if current_user.photo.url != nil %>
            <%= image_tag current_user.photo.url, class: "avatar" %>
            <% else %>
            <%= image_tag "https://www.shareicon.net/data/128x128/2015/09/27/107947_doc_512x512.png", class: "avatar" %>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if @gamer.character.name != "sorciere" %>
<div class="allplayers">
  <% @all_except_me.each do |player| %>
    <div class="player mx-3">
      <div class="player-photo">
        <% if player.user.photo.url != nil %>
          <%= image_tag player.user.photo.url, class: "avatar" %>
        <% else %>
          <%= image_tag "https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg", class: "avatar" %>
        <% end %>
      </div>
      <div class="player-name">
        <p><%= player.user.username.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if @gamer.character.name == "sorciere" %>
  <div class="info-action">
    <h4>A toi de jouer !</h4>
  </div>
<% else %>
  <div class="info-noaction">
    <h4>Ce n'est pas ton tour, rendors toi...</h4>
  </div>
<% end %>

<div id="countdown"></div>

<% if @gamer.character.name == "sorciere" && @gamer.is_alive %>
<div class="role">
  <h4 class="info">Qui veux-tu livrer à la mort ?</h4>
    <%= simple_form_for([@game, GameEvent.new], remote: true) do |f| %>
      <div class="choice-One">
        <% i = 1 %>
        <% @all_except_me.each do |player| %>
          <div class="mycheck">
            <div>
              <%= check_box_tag :target, player %>
            </div>
            <div>
              <%= f.label :target do %>
                <% if player.user.photo.url != nil %>
                  <%= image_tag player.user.photo.url, class: "avatar check" %>
                <% else %>
                  <%= image_tag "https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg", class: "avatar check" %>
                <% end %>
              <% end %>
            </div>
            <div><h4><%= player.user.username %></h4></div>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="button-container">
        <div><%= f.button :submit, "Valider", class: "btn btn-valider" %></div>
      </div>
    <% end %>
</div>
<% else %>
  <div class="repos">
    <img src="https://media.giphy.com/media/cGCTkvdoPUld5yMiMd/giphy.gif" alt="" class="sleeping">
  </div>
  <div class="his-role">
    <div class="character">
      <%= image_tag @sorciere.character.photo.url, class: "avatar" %>
    </div>
    <div class="description">
      <h4>Adepte de magie noire, elle dispose d'une potion de mort pour assassiner quelqu'un au premier tour.</h4>
    </div>
  </div>
   <%= audio_tag("snoring.mp3", autoplay: true, controls: true, loop: false, hidden:true)  %>
<% end %>
<div id="connect-to-game-channel" data-game-id="<%= @game.id %>" data-current-user-id="<%= current_user.id %>"></div>
<div class="sorciere checkOne"></div>

<div id="countdown"></div>
